@import url("https://fonts.googleapis.com/css?family=Dosis:500,700");
$background-color: #3c3d51;
$overlay-color:rgba(23, 24, 39,0.8);
$techStackBackground:#6b61bc;
$recentWorkBackground:#db7d03;
$heading-size: 4rem;

.parallaxContainer{
  height: 75vh;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 75vh;
  top: 0px;
  left: 0px;
  background-color: $overlay-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  text-align: center;
  h1{
    font-size: $heading-size;
    color: rgb(250, 34, 91)
  }
  h3{
    color: #ffff;
  }
}

.aboutMe {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  svg{
    margin-top: 25px;
    fill: $background-color;
  }
  .header {
    margin: 20px;
    font-family: "Dosis", sans-serif;
    color: #f6ff0b;
    font-size: $heading-size;
  }
  .subHeader {
    color: white;
    font-size: 1rem;
  }
  hr {
    margin-top: 20px;
    color: #ffff;
    width: 100px;
  }
  .aboutMeRecentWork{
    text-align: center;
  }

  .aboutMeBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      margin-left: 10px;
      li {
        margin: 10px;
        display: flex;
        align-items: center;
        color: #ffff;
        img {
          margin-right: 10px;
          max-height: 35px;
        }
      }
    }    
  }

  @media screen and (min-width:650px){
    .aboutMeBody{
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .aboutMeDetails{
    flex-direction: column;
    color: #dbdbdb;
  }

  .aboutMeFooter ul{
    flex-direction: row;
  }
}

.techStackSection{
  background-color: $techStackBackground;
  svg{
    fill: $recentWorkBackground;
  }
}

.recentWork{
  background-color:$recentWorkBackground ;  
}