.workContainer{
  width: 300px;
  height: 220px;
  background-color: #ffff;
  margin: 15px;
  box-shadow: 0 3px 12px 2px #3c3d51;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
}

.heading{
  margin: 10px;
  span{
    font-size: 1.5rem;
    color: blue;
  } 
}

.description{
  margin: 10px;
  flex-grow: 1;
  overflow: hidden;
  ul{
    padding-left: 18px;
    margin: 0px;
  }
}

.footer{
  margin: 10px;
  display: flex;
  align-items: center;
  img{
    height: 35px;
    margin-right: 10px;
  }
}